## list (for loop)

In [106]:
fruits = ['Orange' , 'Apple' , 'Pear']
print(fruits)

['Orange', 'Apple', 'Pear']

In [107]:
for x in  fruits:
    print(x)

Orange
Apple
Pear

In [108]:
for x in fruits:
    print(x, end=' ')

Orange Apple Pear

In [109]:
name = "chandrashekher"
for i in name:
    print(i)

c
h
a
n
d
r
a
s
h
e
k
h
e
r

In [110]:
name = "chandrashekher"
for i in name:
    print(i, end="" )

chandrashekher

## range function

In [111]:
for num in range (30):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [112]:
for name in range (5):
    print('savita')

savita
savita
savita
savita
savita

In [113]:
a= 10
b = 5
sum = a+b 
print("sum:",sum)
print("sum of",a,"and",b,"is",sum)
print("sum of{a}and{b}is{sum}")

sum: 15
sum of 10 and 5 is 15
sum of{a}and{b}is{sum}

In [114]:
for i in range(1,11):
    print(f"*15 *{i} = {15*i}")

*15 *1 = 15
*15 *2 = 30
*15 *3 = 45
*15 *4 = 60
*15 *5 = 75
*15 *6 = 90
*15 *7 = 105
*15 *8 = 120
*15 *9 = 135
*15 *10 = 150

## for loops questions

In [115]:
for i in range(1,11):
    print(f"*19 *{i} = {19*i}")

*19 *1 = 19
*19 *2 = 38
*19 *3 = 57
*19 *4 = 76
*19 *5 = 95
*19 *6 = 114
*19 *7 = 133
*19 *8 = 152
*19 *9 = 171
*19 *10 = 190

In [116]:
for num in range(1,11):
    print(num)

1
2
3
4
5
6
7
8
9
10

In [117]:
for i in range(1,20):
    if i%2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18

## while loop

In [118]:
num = 1
while num <=10:
    print(num)
    num += 1

1
2
3
4
5
6
7
8
9
10

In [119]:
num = 1
sum = 0
while num <=100:   
        sum = sum+num
        num=num+1
print("sum of int from 1 to 100 is ",sum)

sum of int from 1 to 100 is  5050

In [120]:
sum = 0
for i in range(1,20):
    if 1%2 == 0:
        print(i)
        sum = sum + i
print("sum of even number from 1 to 20", sum)

sum of even number from 1 to 20 0

In [121]:
sum = 0
for i in range(1,100):
    sum = sum +i
print("sum of int from 1 to 100 is",sum)

sum of int from 1 to 100 is 4950

## indexing

In [122]:
apps = ['google','chrome','swiggy','zomato','uber','rapid0','watsap','instagram',]
print(apps)

['google', 'chrome', 'swiggy', 'zomato', 'uber', 'rapid0', 'watsap', 'instagram']

In [123]:
print(apps)

['google', 'chrome', 'swiggy', 'zomato', 'uber', 'rapid0', 'watsap', 'instagram']

In [124]:
print(apps[3:8])
print(apps[3:8:2])
print(apps[:8])
print(apps[3:])
print(apps[:])

['zomato', 'uber', 'rapid0', 'watsap', 'instagram']
['zomato', 'rapid0', 'instagram']
['google', 'chrome', 'swiggy', 'zomato', 'uber', 'rapid0', 'watsap', 'instagram']
['zomato', 'uber', 'rapid0', 'watsap', 'instagram']
['google', 'chrome', 'swiggy', 'zomato', 'uber', 'rapid0', 'watsap', 'instagram']

## methods
- appends
- insert
- pop
- remove
- copy
- extend
- clear
- sort

In [125]:
print(apps)

['google', 'chrome', 'swiggy', 'zomato', 'uber', 'rapid0', 'watsap', 'instagram']

In [126]:
apps2 = apps.copy()
print(apps2)

['google', 'chrome', 'swiggy', 'zomato', 'uber', 'rapid0', 'watsap', 'instagram']

In [127]:
apps. insert(3,'ola')
print(apps)

['google', 'chrome', 'swiggy', 'ola', 'zomato', 'uber', 'rapid0', 'watsap', 'instagram']

In [128]:
apps.pop(-1)
print(apps)

['google', 'chrome', 'swiggy', 'ola', 'zomato', 'uber', 'rapid0', 'watsap']

In [129]:
apps.short()
print(apps)

AttributeError: 'list' object has no attribute 'short'

In [5]:
a = [1,2,3]
print(a)

[1, 2, 3]

In [132]:
apps.extend(a)
print(apps)

TypeError: 'int' object is not iterable

In [130]:
apps2.clear()
print(apps2)

[]

In [133]:
print(apps[5])
print(apps[6])
print(apps[-4])

uber
rapid0
zomato